<%= turbo_frame_tag :search_results do %>
  <div class="py-2">
    <% @results.each do |result| %>
      <%= link_to result, class: "block px-2 leading-tight", data: {turbo_frame: "_top"} do %>
        <div class="flex items-center justify-between w-full px-4 py-3 rounded-md bg-gray-400 bg-opacity-0">
          <div>
            <div class="font-medium flex items-center">
              <%= result %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
